html, body {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Arial', sans-serif;
    font-size: 24pt;
    text-align: center;
}
#top {
    height: 20%;
    background-color: blue;
}
#mid {
    height: 65%;
    width: 100%;
}
#center {
    width: 75%;
    height: 100%;
    float: left;
    background-color: greenyellow;
}
#right {
    width: 25%;
    height: 100%;
    float: left;
    background-color: green;
}
#low {
    height: 15%;
    background-color: darkturquoise;
    clear: both;
}